.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        group-name
      .chat-main__header--group-member
        group-member
    .chat-main__header--group-edit
      = link_to 'Edit', edit_group_path(current_user)
  .chat-main__body
    .chat-main__body--message-list
      .chat-main__message
        .chat-main__message-name
          message-name
        .chat-main__message-time
          0000/00/00 00:00:00
        .chat-main__message-body
          message-body
  .chat-main__footer
    .form
      .chat-main__footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'message_image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'message_image-file'
          = f.submit 'Send', class: 'submit'

