.chat-side
  = render 'shared/chat_side'

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      .chat-main__header--group-member
        Member :
        - @group.users.each do |user|
          = user.name
    .chat-main__header--group-edit
      = link_to 'Edit', edit_group_path(current_user)
  .chat-main__body
    .chat-main__body--message-list
      = render @messages
  .chat-main__footer
    = form_for [@group, @message] do |f|
      .chat-main__footer-body
        = f.text_field :content, class: 'message_form', placeholder: 'type a message'
        = f.label :image, class: 'message_image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'message_image-file'
        = f.submit 'Send', class: 'submit'
